{% extends 'base.html' %}

{% block title %}
    매매일지 작성
{% endblock %}

{% block content %}

    <div class="wrap">
        <div>
            <p>
                <div class="title" style="color : #484848; text-align: center;"><h4>매매일지 작성</h4></div></p>
        </div>
        <hr>
        <div class="post-box" style="width:450px; margin:auto;">
        <form class="form-area" method="post" action="/tradingNote/post/">
            {% csrf_token %}
            <div class="form-group input-label">
                <label for="exampleFormControlInput1">종목명</label>
                <input class="form-control" placeholder="종목명/종목코드를 입력하세요." id="stock_name" name="stock_name">
            </div>
            <div class="form-group input-label">
                <label for="exampleFormControlInput1">매매 구분</label>
                <button type="button" id="save-category" onclick="hide_date()" style="border-radius:10px;border:lightblue; background-color:lightblue;">저장</button>
                <select class="form-control" id="trading_category" name="trading_category">
                    <option value="">-- 매수/매도 선택 --</option>
                    <option value="매수">매수</option>
                    <option value="매도">매도</option>
                </select>
            </div>
            <div class="form-group input-label">
                <label for="exampleFormControlInput1">매수 일자</label>
                <input type="date" class="form-control" placeholder="" id="buying_date" name="buying_date">
            </div>
            <div class="form-group input-label">
                <label for="exampleFormControlInput1">손절가</label>
                <input class="form-control" placeholder="45000" id="stop_loss" name="stop_loss">
            </div>
            <div class="form-group input-label">
                <label for="exampleFormControlInput1">매도 일자</label>
                <input type="date" class="form-control" placeholder="" id="sell_date" name="sell_date">
            </div>
            <div class="form-group input-label">
                <label for="exampleFormControlInput1">체결 단가</label>
                <input class="form-control" placeholder="ex.66000" id="contract_price" name="contract_price">
            </div>
            <div class="form-group input-label">
                <label for="exampleFormControlInput1">체결 수량</label>
                <input class="form-control" placeholder="ex.10주를 구매했을 경우 --> 10" id="contract_amount" name="contract_amount">
            </div>
            <div class="form-group input-label">
                <label for="exampleFormControlTextarea1">comment</label>
                <textarea class="form-control" rows="10" placeholder="매매 이유나 기억해야할 메모를 남겨주세요." id="trading_comment" name="trading_comment"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" style="border: #2262C6; background: #2262C6;">작성 완료</button>
            </form>
            <from>
                <button type="submit"  class="btn" style="border:lightgray; background-color:lightgray;">작성 취소</button>
            </from>

    </div>

{% endblock %}